/*
Strucktur
h_ : header
d_ : dialogs
f_  : fotter
*/

* {
    font-family: 'Inter';
    color: #7000FF;
    border-radius: 6px;
    user-select: none;
}

.hidden {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #EADBEF;
    background-image: url("../src/Background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    overflow-x: hidden;
    height: 100%;
}

html{
    height: 100%;
}

#outercontainer {
    min-height: 100%;
}

#content {
    overflow: auto;
    padding-bottom: 40px;
}



/*Header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

#h_logo {
    margin: 0;
    cursor: pointer;
    height: 80px;
    width: auto;
}

#h_myticketbutton {
    text-decoration: none;
}

#h_accountbutton {
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: #EADBEF;
    border: none;
    font-size: 110%;
    margin-right: 10px;
}

#h_name {
    margin: 0;
    margin-right: 10px;
}

#h_registerbutton {
    font-size: 110%;
    margin-right: 5px;
    padding: 9px 15px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    color: #CDA7FF;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.3s;
}
#h_registerbutton:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
#h_registerbutton:active {
    box-shadow: none;
}

#h_loginbutton {
    font-size: 110%;
    margin-right: 10px;
    padding: 9px 15px;
    background-color: #FFFFFF;
    border-color: #7000FF;
    border-style: solid;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: box-shadow 0.3s;
}
#h_loginbutton:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
#h_loginbutton:active {
    box-shadow: none;
}

#h_loginbuttonicon {
    margin-right: 4px;
    background-color: white;
    border-radius: 0;
    height: 15px;
    width: auto;
}


/*Dialogs*/
dialog {
    margin-top: 40px;
    padding: 40px 30px;
    border: none;
    padding-bottom: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

dialog::backdrop {
    backdrop-filter: blur(4px);
}

input {
    font-size: 130%;
    padding: 10px;
    background-color: #F4F4F4;
    border: none;
    margin: 10px;
    box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.25);
    user-select: None;
    transition: box-shadow 0.3s;
}

input:focus {
    outline: none;
    box-shadow: inset 0px -3px 2px rgba(0, 0, 0, 0.25);
}

.d_title {
    text-align: center;
    margin-bottom: 15px;
    font-size: 170%
}

#d_dateselect {
    width: 89%;
}

.d_submit {
    width: 94%;
    padding: 10px;
    margin-top: 20px;
    background-color: #7000FF;
    color: white;
    box-shadow: none;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.d_submit:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.d_submit:active {
    box-shadow: none;
}

/*Body*/
#title {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 500%;
    margin-top: 100px;
    margin-bottom: 0;
}

#title2 {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 500%;
    margin-top: 0;
    margin-bottom: 150px;
}

#b_main {
    margin-left: 15px;
    margin-bottom: 15px;
}

#b_dateselect {
    background-color: white;
    margin-left: 0;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
#b_dateselect:hover{
    cursor:pointer;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
#b_dateselect:focus{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

#b_tickets {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    row-gap: 15px;
}

.b_ticket {
    background-color: white;
    flex: 1;
    margin-right: 15px;
    min-width: 500px;
    height: 300px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.3s;

}
.b_ticket:hover{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

/*footer*/
footer {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 30px;
    margin-top: -40px;
    border-radius: 0;
    background-color: white;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
    clear: both;
    padding-top: 10px;
}

.f_text {
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    transition: box-shadow 0.3s;
}

.f_text:hover {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

/*responsive CSS for mobile Phone*/
@media screen and (max-width: 600px) {
    body {
        background-image: url("../src/BackgroundSmall.png");
    }

    #h_logo {
        height: 60px;
    }

    #h_loginbutton {
        font-size: small;
    }

    #h_loginbuttonicon {
        height: 10px;
    }

    #h_registerbutton {
        font-size: small;
    }

    input {
        font-size: 90%;
    }

    dialog {
        margin-top: 20px;
    }

    #d_title {
        font-size: 140%
    }

    #d_dateselect {
        width: 85%;
    }

    .b_ticket {
        min-width: 200px;
        height: 200px;
    }

    #title {
        font-size: 300%;
        margin-top: 35px;
        margin-bottom: 0;
    }

    #title2 {
        font-size: 300%;
        margin-bottom: 40px;
    }
}